*
{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 4px 4px 7px rgb(0, 0, 0);
}

body {
  overflow: hidden;
  background-color: rgb(33,36,50);
  height: 100%;
  width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100%;
    align-items : center;
    justify-items: center;
}

.linkAreaContainer
{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: start;
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
  vertical-align: top;
}

#searchInput {
    border-bottom: none;
    font-size: 20px;
}

#search {
  border-bottom: 2px solid white;
  font-size: 20px;
}

#username:hover {
  cursor: pointer;
}

#usernameInput {
  visibility: hidden;
  text-align: center;
}

.weather
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: start;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.weather:hover {
  cursor: pointer;
}


#weatherIcon, #temperature {
  padding-right: 6px;
  font-size: 18px;
  font-weight: bold;
  width: calc(50% - 3px);
}

/*Popup styling:Popup has two containers-popupMain and days*/
.weatherPopup {
  visibility: hidden;
  grid-column: 3/4;
  z-index: 1;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding-top: 0;
  position: absolute;
  top: 10%;
  right:10px;
  text-shadow: none;
  text-align: center;
  font-size: 14px;
  /*flex stuff*/
  padding: 8px;
  width: 115%;
  display: flex;
  flex-wrap: wrap;
}

/*days container*/
#days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 20%;
}
.day:hover {
  background-color: #eee;
  border-radius: 4px;
}
/*Main Container*/
#popupMain {
  width: 100%;
  border-bottom: thin;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#loc {
  font-size: 20px;
  width: 90%;
  font-weight: bold;
  color: #222;
}

#tempUnit {
  width: 10%;
  font-weight: thin;
  color: #222;
}

#tempC:hover {
  font-weight: bold;
}

#tempF:hover {
  font-weight: bold;
}
/*only for forecast*/
#fullDayName {
  font-size: 14px;
  color: #555;
}

#desc {
  width: 100%;
}
#wIcon {
  font-size: 48px;
  width: calc(50% - 30px);
  padding: 15px;
  text-align: right;
}

#temp {
  font-size: 50px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;

}
/*only for forecast*/
#templow {
  font-size: 34px;
  color: #555;
}

.prominent {
  font-weight: bolder;
}
/*for popup arrow https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom*/
.weather .weatherPopup::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.show {
  visibility: visible;
}
/*/Popup styling */
.todo_modal
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  border: 1px solid gray;
  background: gray;
  border-radius: 5px;
}

.todo_button
{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: start;
  margin-top: 5px;
}

.content__container
{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.quote__container
{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#quote {
  text-align: center;
}

#author {
  text-align: center;
  font-style: italic;
}

.fade {
  animation: fadeIn 7s;
}
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }



input {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
}


.focusText {
  width: 100%;
  overflow-x: visible;
}

.completed
{
    text-decoration: line-through;
}

.time {
  font-size: 900%;
}

canvas {
  display:block;
  background: rgb(33,36,50);
  position: fixed;
  z-index: -1;
}

#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

