html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  overflow: hidden;
  /* background-image: url("https://momentumdash.com/backgrounds/08.jpg"); */
  background-color: #5F9EA0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.centerText {
  margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 10fr 5fr 1fr;
    height: 95%;
    padding-bottom: 1%;
    padding-top: 1%;
    align-items : center;
    justify-items: center;
    /* border: 3px solid #FF0000; */
}
.span-col-6{grid-column: span 6 / auto;}

.span-col-5{grid-column: span 5 / auto;}

.span-col-9{grid-column: span 9 / auto;}

.span-col-3{grid-column: span 3 / auto;}

.span-col-2{grid-column: span 2 / auto;}

.span-row-3{grid-row: span 3 / auto;}

.todo-list {
  max-height: 500px;
  overflow: scroll;
}

.weather{
  grid-column: 9;
  grid-row: 1;
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#weatherIcon,#temperature {
  padding: 4px;
}

.location {
  text-align: center;
  width: 100%;
}

.linkArea {
  padding-left: 15%;
}

input[type=text] {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.focusText {
  width: 100%;
  overflow-x: visible;
}
.completed
{
    text-decoration: line-through;
}

.time {
  font-size: 900%;
}

/* #particles-js{
  background:firebrick;  
} */

#backgroundButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#backgroundButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

#backgroundButton:active {
	position:relative;
	top:1px;
}