html,
body {
  margin: 0;
  padding: 0;  
  background-color: #5F9EA0;
  color: white;
  height: 100%;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 10fr 5fr 1fr;
    height: 95%;
    padding-bottom: 1%;
    padding-top: 1%;
    align-items : center;
    justify-items: center;
    border: 3px solid #FF0000;
}
.span-col-6{grid-column: span 6 / auto;}

.span-col-9{grid-column: span 9 / auto;}

.span-col-3{grid-column: span 3 / auto;}

.span-row-3{grid-row: span 3 / auto;}

